a, a:visited {
    border: 1px solid white;
    color: #FFF;
    background-color: #000;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
}
a:hover {
    background-color: #ff00ff;
}

body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1f1f1f;
    color: #FFF;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #333;
}

footer {
    background-color: #1f1f1f;
    color: #FFF;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #333;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}

#buttons {
    display: none;
}

#toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1f1f1f;
    border-bottom: 2px solid #333;
}